 :root {
     /* COLOR-START */
     --header-backgr-color: #ECECEC;
     --main-padge-text-color: #212121;
     --main-font-family: 'Roboto', sans-serif;
     --secondary-padge-color: #757575;
     --secondary-font-family: 'Raleway', sans-serif;
     --color-btm-logo: #2196F3;
     --color-with: #FFFFFF;
     --main-background-color: #F5F5F5;
     --active-color-btm: #188CE8;
     --footer-back: #2F303A;
     --footer-color-registr: rgba(255, 255, 255, 0.6);
     --btm-portf-back: #F5F4FA;
     --secondary-bgr: #2F303A;
     --bg-img: #C4C4C4;
     --icons-color: #AFB1B8;
     --icons-border-color: #2196F3;
     /* COLOR-END}  */

     /* ANIMATION-START */
     --animation-overlay: 250ms cubic-bezier(0.4, 0, 0.2, 1);

     /* ANIMATION-FINISH */
 }

 body {
     font-family: var(--main-font-family);
     color: var(--main-padge-color);
     letter-spacing: 0.03em;
     background-color: var(--color-with);
     font-size: 14px;
 }